@import './btns.css';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.score {
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(0, 89, 255, 0.856);
    border-radius: 10px;
    color: #baedfa;
    transition: transform 0.3s ease;
}

.score:hover {
    transform: scale(1.1);
}

.score-yellow {
    color: #fbff02;
}

.difficulty {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    background-color: rgba(255, 202, 28, 0.925);
    border: 2px solid #18010e;
    border-radius: 10px;
    padding: 10px;
    color: #fdfdfd;
    text-align: center;
    margin: 0 auto;
    margin-left: 380px; 
    transition: transform 0.3s ease;
}

.difficulty:hover {
    transform: scale(1.1);
}


@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .score {
        font-size: 18px;
        padding: 5px;
    }

    .difficulty {
        font-size: 18px;
        padding: 5px;
    }

    .btns {
        font-size: 16px;
        padding: 10px 20px;
    }
}