@import './btns.css';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.modal-content {
    background: #fbbf24;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 900px;
    width: 100%;
    transform: scale(0.5);
    animation: popIn 0.5s forwards 0.5s;
}

@keyframes popIn {
    to {
        transform: scale(1);
    }
}

.modal-heading {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #4983ff;
    opacity: 0;
    animation: slideIn 0.5s forwards 1s;
}

.modal-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #4983ff; 
    opacity: 0;
    animation: slideIn 0.5s forwards 1.5s;
}

.button-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    opacity: 0;
    animation: slideIn 0.5s forwards 2s;
}

.modal-button {
    font-size: 16px;
    padding: 0px 20px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-heading {
        font-size: 18px;
        padding: 5px;
    }

    .modal-text {
        font-size: 16px;
    }

    .modal-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}